<div class="card" *ngIf="addSection">
    <div class="custom">
        <div>
            <input
                id="yearTitle"
                type="text"
                placeholder="عنوان سال"
                pInputText
                class="w-full md:w-10rem xs:w-2rem mb-5"
                style="padding: 1rem"
            />
            <input
                id="toDate"
                type="text"
                placeholder="تا تاریخ"
                pInputText
                class="w-full md:w-10rem xs:w-2rem mb-5"
                style="padding: 1rem"
            />
        </div>
        <div class="flex gap-3">
            <button pButton (click)="showAddSection()">افزودن</button>
            <button pButton (click)="hideAddSection()">انصراف</button>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-container">
        <div class="flex justify-content-end my-3">
            <button
                pButton
                icon="pi pi-plus"
                pTooltip="افزودن سال مالی"
                tooltipPosition="left"
                (click)="showAddSection()"
            ></button>
        </div>
        <div class="table-container">
            <p-table
                [value]="mockArray"
                [rowHover]="true"
                styleClass="p-datatable-gridlines"
                [scrollable]="true"
                scrollHeight="400px"
            >
                <ng-template pTemplate="header" style="direction: rtl">
                    <tr>
                        <th>عنوان</th>
                        <th>از تاریخ</th>
                        <th>تا تاریخ</th>
                        <th>عملیات</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-mockArray>
                    <tr>
                        <td>{{ mockArray.title }}</td>
                        <td>{{ mockArray.fromDate | persianDate }}</td>
                        <td>{{ mockArray.toDate | persianDate }}</td>
                        <td>
                            <button
                                pButton
                                class="p-button-danger p-button-rounded p-button-text"
                                icon="pi pi-trash "
                            ></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
