<div
    class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden"
>
    <div
        *ngIf="!secondPart && !succesfull"
        class="fadeindown animation-duration-300 flex flex-column align-items-center justify-content-center"
    >
        <div
            style="
                border-radius: 56px;
                padding: 0.3rem;
                background: linear-gradient(
                    180deg,
                    var(--primary-color) 10%,
                    rgba(33, 150, 243, 0) 30%
                );
            "
        >
            <div
                class="w-full surface-card pt-3 pb-5 px-5 shadow-8"
                style="border-radius: 53px"
            >
                <div class="flex justify-content-end">
                    <button
                        pButton
                        pRipple
                        type="button"
                        icon="pi pi-arrow-left"
                        class="p-button-rounded p-button-danger"
                        pTooltip="بازگشت"
                        (click)="navigateFunction()"
                    ></button>
                </div>
                <div class="text-center mb-5">
                    <img
                        src="assets/logo.png"
                        alt="pardis insurance logo"
                        class="mb-5 w-6rem flex-shrink-0"
                    />
                    <div class="text-900 text-3xl font-medium mb-3">
                        بازیابی گذروازه
                    </div>
                </div>

                <form
                    [formGroup]="forgotPasswordFirstStep"
                    (ngSubmit)="getOtp()"
                >
                    <div>
                        <div class="flex justify-content-center gap-3">
                            <label
                                for="userName"
                                class="block text-900 mt-2 text-xl font-medium mb-4 padding-rop-config"
                                >نام کاربری :</label
                            >
                            <input
                                #secondPartFirstInput
                                formControlName="username"
                                id="username"
                                type="text"
                                placeholder="نام کاربری"
                                pInputText
                                class="mb-5"
                                style="padding: 1rem"
                                autocomplete="off"
                            />
                        </div>

                        <div
                            class="flex flex-row-reverse justify-content-between py-5"
                        >
                            <img [src]="hashImageSrc" class="captcha-config" />

                            <div class="pt-2">
                                <i
                                    (click)="generateCaptcha()"
                                    class="pi pi-refresh"
                                    style="
                                        font-size: 2rem;
                                        position: relative;
                                        cursor: pointer;
                                    "
                                ></i>
                            </div>
                            <span class="p-float-label" style="direction: rtl">
                                <input
                                    formControlName="captchaValue"
                                    class="w-7rem"
                                    maxlength="6"
                                    id="captchaValue"
                                    (keypress)="numberOnly($event)"
                                    type="text"
                                    pInputText
                                />
                                <label
                                    for="captchaValue"
                                    style="margin-left: 1.813rem"
                                    >عدد تصویر
                                </label>
                            </span>
                        </div>
                        <button
                            pButton
                            type="submit"
                            pRipple
                            label="بازیابی"
                            [loading]="isLoading"
                            [disabled]="!forgotPasswordFirstStep.valid"
                            class="w-full p-3 text-xl"
                        ></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div
        *ngIf="secondPart && !succesfull"
        class="fadeindown animation-duration-300 flex flex-column align-items-center justify-content-center"
    >
        <div
            style="
                border-radius: 56px;
                padding: 0.3rem;
                background: linear-gradient(
                    180deg,
                    var(--primary-color) 10%,
                    rgba(33, 150, 243, 0) 30%
                );
            "
        >
            <div
                class="w-full surface-card pt-3 pb-5 px-5 shadow-8"
                style="border-radius: 53px"
            >
                <div class="text-center mb-5">
                    <div class="text-900 text-3xl font-medium mb-3">
                        بازیابی گذروازه
                    </div>
                </div>

                <form
                    [formGroup]="forgotPasswordSecondStep"
                    (ngSubmit)="onClickValidateAndResetPassword()"
                >
                    <div>
                        <div class="flex justify-content-center gap-3">
                            <label
                                for="otp"
                                class="block text-900 mt-2 text-xl font-medium mb-4 padding-rop-config"
                                >کد یکبارمصرف :</label
                            >
                            <span class="counter-container">
                                <span class="counter">{{ validityTime }}</span>
                                <input
                                    formControlName="otp"
                                    id="otp"
                                    type="text"
                                    placeholder="کد یکبارمصرف"
                                    pInputText
                                    style="padding: 1rem"
                                    autocomplete="new-password"
                                />
                            </span>
                        </div>
                        <div class="flex justify-content-center gap-3 my-3">
                            <label
                                for="newPassword"
                                class="block text-900 mt-2 text-xl font-medium mb-4 padding-rop-config"
                                >رمز عبور جدید :</label
                            >
                            <span class="p-input-icon-left m-config">
                                <i
                                    [class]="
                                        hide ? 'pi pi-eye' : 'pi pi-eye-slash'
                                    "
                                    class="mb-3"
                                    (click)="togglePassword()"
                                ></i>
                                <input
                                    formControlName="newPassword"
                                    id="newPassword"
                                    [type]="!hide ? 'password' : 'text'"
                                    placeholder="رمز عبور"
                                    pInputText
                                    style="padding: 1rem"
                                    autocomplete="new-password"
                                    aria-describedby="newPassword-help"
                                />
                            </span>
                        </div>

                        <div
                            *ngIf="
                                !forgotPasswordSecondStep.controls.newPassword
                                    .valid &&
                                forgotPasswordSecondStep.controls.newPassword
                                    .invalid &&
                                forgotPasswordSecondStep.controls.newPassword
                                    .value!.length > 6
                            "
                            class="flex justify-content-end align-items-center"
                        >
                            <small id="newPasswordConfirm-help" class="p-error"
                                >حداقل طول پسورد هشت رقم می باشد</small
                            >
                        </div>
                        <div class="flex justify-content-center gap-3 my-3">
                            <label
                                for="newPasswordConfirm"
                                class="block text-900 mt-2 text-xl font-medium mb-4 padding-rop-config"
                                >تایید رمز جدید :</label
                            >
                            <span class="p-input-icon-left m-config">
                                <i
                                    [class]="
                                        hideConfirm
                                            ? 'pi pi-eye'
                                            : 'pi pi-eye-slash'
                                    "
                                    class="mb-3"
                                    (click)="toggleConfirmPassword()"
                                ></i>
                                <input
                                    id="newPasswordConfirm"
                                    [type]="!hideConfirm ? 'password' : 'text'"
                                    formControlName="confirmPassword"
                                    placeholder="تایید رمز عبور"
                                    pInputText
                                    class="mb-1"
                                    style="padding: 1rem"
                                    autocomplete="off"
                                />
                            </span>
                        </div>
                        <div
                            *ngIf="passwordMatchError"
                            class="flex justify-content-end align-items-center"
                        >
                            <small id="newPasswordConfirm-help" class="p-error"
                                >پسورد یکسان نمی باشد</small
                            >
                        </div>
                        <div *ngIf="passwordMatchError">
                            <p>تکرار گذرواژه صحیح نمی باشد</p>
                        </div>
                        <button
                            pButton
                            type="submit"
                            pRipple
                            label="تایید"
                            class="w-full p-3 text-xl"
                            [disabled]="!forgotPasswordSecondStep.valid"
                        ></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div
        *ngIf="succesfull"
        class="fadeindown animation-duration-300 flex flex-column align-items-center justify-content-center"
    >
        <div
            *ngIf="succesfull"
            class="surface-card pt-3 mx-5 pb-5 px-5 shadow-8"
            style="border-radius: 53px"
        >
            <div class="text-center mb-5">
                <div
                    class="max-w-25rem text-900 text-3xl pt-3 font-medium mb-3"
                >
                    <span> تغییر گذرواژه موفیقت آمیز بود </span>
                    <img
                        src="assets/check-mark.svg"
                        alt=""
                        class="img-config my-3"
                    />
                    <button
                        pButton
                        (click)="navigateFunction()"
                        class="p-element p-ripple w-full p-3 text-xl p-button p-component"
                        style="justify-content: center"
                        label="بازگشت به صفحه اصلی"
                        [loading]="isLoadingSecondPart"
                    ></button>
                </div>
            </div>
        </div>
    </div>
</div>
